@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
  :root  {
    --background: 234 15% 95%;
    --foreground: 234 5% 10%;
    --card: 234 15% 90%;
    --card-foreground: 234 5% 15%;
    --popover: 234 15% 95%;
    --popover-foreground: 234 95% 10%;
    --primary: 234 52% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 15% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 196 15% 85%;
    --muted-foreground: 234 5% 40%;
    --accent: 196 15% 80%;
    --accent-foreground: 234 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 234 5% 90%;
    --border: 234 20% 50%;
    --input: 234 20% 50%;
    --ring: 234 52% 55%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 234 15% 10%;
    --foreground: 234 5% 90%;
    --card: 234 15% 90%;
    --card-foreground: 234 5% 15%;
    --popover: 234 15% 95%;
    --popover-foreground: 234 95% 10%;
    --primary: 234 52% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 15% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 196 15% 85%;
    --muted-foreground: 234 5% 40%;
    --accent: 196 15% 80%;
    --accent-foreground: 234 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 234 5% 90%;
    --border: 234 20% 50%;
    --input: 234 20% 50%;
    --ring: 234 52% 55%;
    --radius: 0.5rem;
  }

  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .jumpingImage {
    animation: jump 0.5s ease-in-out infinite; /* Animation en continu */
    width: 50px;
    height: 50px;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
